body h1 { 

    font-family: Arial; 
    font-size: 20pts;
    color: orange; 
    text-shadow: 2px 2px 2px black;
}

h2 {
         
    font-family: Times New Roman;
    font-size: 15pts;
    color: red;

}




